<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.christ.ffms.dao.AccountDao">
    <sql id="selectAccount">
        select a.id aid,a.adate aadate,a.amount aamout,a.remark aremark,u.id uid,u.name uname,u.realname urealname,i.id iid,i.type itype,i.name iname,i.pid ipid from accounts a left join users u on a.user_id=u.id left join items i on a.item_id=i.id;
    </sql>
    <select id="getAccountById" parameterType="int" resultMap="accountResultMap">
        <include refid="selectAccount"></include>
        where a.id=#{id}
    </select>
    <resultMap id="accountResultMap" type="com.christ.ffms.entity.Account">
        <id property="id" column="aid"></id>
        <result property="date" column="aadate"></result>
        <result property="amount" column="aamount"></result>
        <result property="remark" column="aremark"></result>
        <association property="user" javaType="com.christ.ffms.entity.User" column="user_id">
            <id property="id" column="uid"></id>
            <result property="name" column="uname"></result>
            <result property="realname" column="urealname"></result>
            <result property="pwd" column=""></result>
        </association>
        <association property="item" javaType="Item" column="item_id">
            <id property="id" column="iid"></id>
            <result property="type" column="itype"></result>
        </association>
     </resultMap>
</mapper>