<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.christ.ffms.dao.ItemDao">
    <sql id="selectItem">
        select i1.id i1id,i1.type i1type,i1.name i1name,i2.id i2id,i2.type i2type,i2.name i2name,i3.id i3id,i3.type i3type,i3.name i3name from items i1 left join items i2 on i1.pid=i2.id left join items i3 on i1.id=i3.pid
    </sql>
    <select id="getItemByPK" parameterType="int" resultMap="ItemResulatMap">
        <include refid="selectItem"></include>
        where i1.id=#{id}
    </select>
    <resultMap id="ItemResulatMap" type="com.christ.ffms.entity.Item">
        <id property="id" column="i1id"></id>
        <result property="type" column="i1type"></result>
        <result property="name" column="i1name"></result>
        <association property="pItem"  javaType="item">
            <id property="id" column="i2id"></id>
            <result property="type" column="i2type"></result>
            <result property="name" column="i2name"></result>
        </association>
        <collection property="items" ofType="item" >
            <id property="id" column="i3id"></id>
            <result property="type" column="i3type"></result>
            <result property="name" column="i3name"></result>
        </collection>
    </resultMap>
</mapper>